body{
	font-family: 'Montserrat', sans-serif;
}
.zahra_image{
	background: url(download2.JPEG) no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.zahra_wrapper{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.zahra_wrapper h1{
	font-size: 3.4rem;
	text-align: center;
}

.zahra_wrapper span {
	margin-left: 5rem;
	display: inline-block;
	margin-bottom: .5rem}
.form_code {
	text-align: center; 
}

.form_code .post_code{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border: none;
	outline: none; 

}

.form_code button {
	width: 40%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-origin:red;
	color: white;
	padding: .6rem;
	margin-top: 2rem;
	border: none; 
	border-radius: .3rem;
}

.product{
	width: 80%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}

.product_list_item{
	float: left;
	width: 33.33%;
	margin-left: .2rem
}

.product_list_item:first-of-type{
	margin-left: 0;
}
@media screen and (max-width: 700px){
	.product_list_item{
		width:100%;
		float: none; 
	}
}